header {
    background-color: blueviolet;
    width: 100%;
    height: 110px;
    padding-top: 30px;
}
nav {
    background-color: violet;
    width: 90%;
    height: 80px;
    margin: auto;

}
.section1 {
    background-color:rgb(148, 23, 23);
    width: 100%;
    height: 400px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.columnas1 {
    background-color: rgb(242, 52, 52);
    margin-top: 50px;
    height: 310px;
    width: 600px;
}

.section2 {
    background-color:rgb(23, 23, 148);
    width: 100%;
    height: 400px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.columnas2 {
    background-color: rgb(52, 52, 242);
    margin-top: 50px;
    height: 300px;
    width: 400px;
}

footer {
    background-color:black;
    width: 100%;
    height: 150px;
    margin-top: 10px;
}

