<header>
  <nav>
  </nav>
</header>
<section class="section1">
  <div class="columnas1"></div>
  <div class="columnas1"></div>
</section>
<section class="section2">
  <div class="columnas2"></div>
  <div class="columnas2"></div>
  <div class="columnas2"></div>
</section>
<footer>
</footer>